

header{
    display:flex;

    height: 200px;
    background: linear-gradient(90.23deg, #05EDE3 0.02%, #645FFB 99.63%  );
    padding: 0 50px;
    margin-top: -50px;
    
    
}

header img{
    width: 15%

    
    
}